div#header {
	width:1000px;
	height:300px;
	background-color:#00CCFF;
	margin-left: auto;
	margin-right: auto;
	background:url(images/ccoutils_logo.png);
	}

div#menubar {
	width:1000px;
	height:36px;
	background-color:#803300;
	margin-left: auto;
	margin-right: auto;
	font-size:22px;
	font-family:"Arial Black", Gadget, sans-serif;
	color: #ffffff
	}

div#menubar a{	
	text-decoration: none;
	color: #ffffff
	}
div#menubar A:hover{
	color: #eeee01
	}

div#main {
	width:920px;
	height:80%;
	padding: 40px;
	background-color:#ff6600;
	margin-left: auto;
	margin-right: auto;
	text-align : justify; 
	font-family:"Arial", Gadget, sans-serif;
	}
div#footer {
	width:1000px;
	height:69px;
	background-color:#803300;
	margin-left: auto;
	margin-right: auto;
	vertical-align: -80px;
	color: #ffffff;
	text-align: center;
	font-family:"Arial", Gadget, sans-serif;
	background:url(images/footer.png);
	}
div#footer a{	
	text-decoration: none;
	color: #ffffff
	}
.comment {
  	position :absolute;
  	right:600px;
}
